@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--White);
}

:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}

.container {
  height: 100vh;
  background-color: var(--Grey-900);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.card {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--Grey-800);
  /* min-height: 64%; */
  /* min-width: 27%; */
  max-height: 650px;
  width: 350px;
  padding: 40px;
  border-radius: 10px;
  gap: 25px;
}

.list {
  list-style: none;
  flex-direction: column;
  display: flex;
  gap: 16px;
  width: 100%;
}

.list li {
  width: 100%;
  background-color: var(--Grey-700);
  padding: 17px 0px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
}

.list li:hover {
  color: black;
  background-color: var(--Green);
  transition: ease-in-out;
  transition-duration: 0.6s;
  cursor: pointer;
  text-decoration: none;
}

.footer {
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  color: white;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.footer #footer-link{
  color: var(--Green);
  cursor: pointer;
}

.profile h1 {
  font-size: 27px;
  line-height: 180%;
  font-weight: 600;
  /* color: var(--Green); */
}
.profile h4 {
  font-size: 15px;
  line-height: 180%;
  color: var(--Green);
}

.profile img {
  border-radius: 50%;
  height: 88px;
  width: 88px;
  margin-bottom: 25px;
}


@media (max-width:425px){
  .card{
    padding: 25px;
    width: 270px;
  }

  .profile h4{
    font-size: 14px;
  }

  .profile h1{
    font-size: 25px;
  }

  blockquote{
    font-size: 14px;
  }
  .list li{
    font-size: 14px;
    padding: 12px 0px;
  }
}